.w {
    
    width: 1200px; /* 设置版心的宽度 */
    /* background-color:#333333; */
    margin: auto; /* 居中对齐 */
  
  }
  body {
    height: 200px;
  }
  li {
    list-style-type: none;
  }
 .gallery {
    width: 100%;
    height: 1208px;
    /* background-color: pink; */
 }
 .gallerys {
    position: relative;
 }
 .gallerys ul {
    position: absolute;
    margin-top: 20px;
    margin: 25px 10px;
 }
 .gallerys ul li{
    margin: 50px 10px 20px 10px;
    float: left;
    width: 540px;
    height: 300px;
    background-color: rebeccapurple;
 }
 .gallerys ul li p {
    position: absolute;
    color: #fff;
    font-size: 40px;
    margin-top: -2px;
    margin-left: -504px;
 }
 .gallerys ul li .ps,.pw {
    margin-top: 5px;
 }
